.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 20px); /* 10 colunas de 20px */
  grid-template-rows: repeat(20, 20px); /* 20 linhas de 20px */
  background-color: rgb(186, 220, 255);
}

.grid div {
  height: 20px;
  width: 20px;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(186, 220, 255);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.tetromino.l {
  background-image: url("../img/blue_block.png");
  background-size: cover;
}

.tetromino.z {
  background-image: url("../img/green_block.png");
  background-size: cover;
}

.tetromino.t {
  background-image: url("../img/purple_block.png");
  background-size: cover;
}

.tetromino.o {
  background-image: url("../img/pink_block.png");
  background-size: cover;
}

.tetromino.i {
  background-image: url("../img/yellow_block.png");
  background-size: cover;
}
